.domaci {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}
button:hover {
  background-color: aqua;
}
.postt {
  width: 200px;
  height: 200pxpx;
  background-color: blueviolet;
  color: white;
  justify-content: center;
  display: block;
  font-size: 12px;
  border: 1px solid black;
  padding: 20px;
  overflow: auto;
  margin: 40px;
}
